/**********************************************
note : design custom style page
**********************************************/
#article-view .article-veiw-body, #article-view .article-copy {margin-bottom:0 !important}

/**********************************************
note : 메인
name : 강혜리
**********************************************/
.box-skin .container .skin-column.width-777 {width:777px}
.box-skin .container .skin-column.width-300 {float:right;width:300px}

#floating_banner_right .banner_box img {width:300px}

/**********************************************
note : 임시메인리뉴얼
name : 권오석
**********************************************/
/* 매체소개 */
.about-us.skin-3 .heading {font-size:2.375rem}

/* 연혁 */
.about-us.com-4 {text-align:left}
.about-us.com-4 .group {margin-top:50px;padding-top:50px;border-top:1px solid rgba(0,0,0,.08)}
.about-us.com-4 > :first-child {margin-top:0;padding-top:0;border-top:0}
.about-us.com-4 .year {display:block;margin-bottom:1.125rem;font-family:serif;font-size:55px;font-weight:700;line-height:1.125;letter-spacing:-.075em;transition:font-size .3s}
.about-us.com-4 .content {display:block;padding:0 .625rem}
.about-us.com-4 .content::after {content:'';display:table;clear:both}
.about-us.com-4 .days, .about-us.com-4 .sums {float:left;margin-bottom:1rem;font-size:1rem;line-height:1.25} 
.about-us.com-4 .content > :last-child, .about-us.com-4 .content > :nth-last-child(2) {margin-bottom:0}
.about-us.com-4 .days {width:25%;width:80px;font-weight:700;letter-spacing:-.025em;color:rgba(0,0,0,.95);clear:both}
.about-us.com-4 .sums {width:75%;width:calc(100% - 80px);font-weight:300;letter-spacing:-.05em;color:rgba(0,0,0,.75)}
@media screen and (max-width: 39.9375em) {
	.about-us.com-4 .year {font-size:48px}
	.about-us.com-4 .days, .about-us.com-4 .sums {float:none;width:auto}
	.about-us.com-4 .days {margin-bottom:.375rem !important}
	.about-us.com-4 .sums {margin-bottom:1.125rem}
	.about-us.com-4 .content > :last-child {margin-bottom:0}
}

.height-209 {height:209px}